//---------------------
//My Beautiful CSS Work
//---------------------

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 6px 0; 
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color: black;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.generic-section {
    height: 250px;
    padding-top: 150px;
    text-align: center;
}

.intro-section {
    padding-top: 100px !important;
    background: #A3C7C2;
}

.about-section {
    background: #315C73;
}

.resume-section {
    background: #A5BCC8;
}

.project-section {
    background: #A0D183;
}

.gallery-section {
    background: #628598;
}

.contact-section {
    background: #A5BCC8;
}


img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}